$clrBlack: #272727;
$clrWhite: #fff;
$clrGreen: #318516;
$clrHeaderBg: #F6F6F6;
$clrPagination: #DADADA;
$clrPaginationHover: #DC3280;
$clrPaginationEllipsis: #4F4F4F;
$clrBorderCard: #D8E7F3;
$clrBorderImgCard: #3CBDED;
$clrBorderImgCardHover: #DC3280;
$clrBreadcrumbs: #8A8A8A;
$clrBirthday: #EC9C00;
$clrFormBg:  #F1F5F8;
$clrBtnHover: #43AB21;
$clrBtnPressed: #27790D;
$clrFormError: #CF2D7C;
$clrBtnPinkHover: #F24E99;
$clrBtnPinkHoverPressed: #BC1E66;
$clrCardInfo: #4F4F4F;
$clrTextBlog: #333;
$clrDate: #828282;
$clrError: #000;
$clrSlider: #3FA01F;
$clrThumbBorder: #FFFCFC;
$clrTextInactive: #666666;

$shadowCardHover: 0px 0px 15px rgba(0, 0, 0, 0.1);

$transition: all .25s ease;
$transitionSlow: all .5s ease;