{% for i in 1..6 %}

  <div class="blog_item_wrapper">

    <a class="blog_item" href="/post/">

      <img class="blog_item_img" src="/dist/images/blogImg.jpg" alt="blogImg">

      <div class="blog_item_text_wrapper">

        <div class="blog_item_title">
          Гастротур «Черноморская соль» прошел при поддержке Тоrk
        </div>

        <div class="blog_item_text">
          Уникальный гастрономический тур «Черноморская соль» по курортным городам юга страны был организован 
          в сентябре Гильдией шеф-поваров Черноморского побережья. На протяжении всего гастрономического путешествия 
          шеф-поварам и персоналу ресторанов, принимающих гостей, помогала профессиональная бумажная продукция 
          и гигиеническое оборудование торговой марки Tork.
        </div>

      </div>

    </a>
    
  </div>

{% endfor %}