<div class="content_wrap post" data-page-type="post">

  <div class="content_block">

    {{ this.render('//components/generic/post_title.twig', {'count':count, 'seo':seo}) | raw }}

    <div class="post_content_block">

      <h1 class="post_title">Гастротур «Черноморская соль» прошел при поддержке Тоrk</h1>

      <div class="post_wrapper">

        <div class="post_img">
          <img src="/dist/images/postImg.jpg" alt="Картинка блога">
        </div>

        <p class="post_text">
          Программа гастротура была составлена таким образом, чтобы гости смогли составить  максимально 
          полное представление о локальных продуктах  и  интересных локациях  региона. Практические презентации 
          местных специалитетов от ведущих шефов побережья в форматах  мастер-классов, открытых дегустаций и 
          практических методик приготовления увлекали с головой участников гастротура.
        </p>

        <p class="post_text_italic">
          В программе гастротура были и ознакомительные экскурсии – дегустации на винодельни и пивоварню, где 
          гости смогли познакомиться с местными традициями приготовления пива и виноградных напитков. Оценить 
          гостеприимство смогли не только профессионалы своего дела – шеф-повар московского ресторана французской 
          кухни Baccarat Мишель Ленц, шеф-повар ресторана «Лён» Антон Гришин, а также, Дмитрий Орешкин из Cucumber 
          (Санкт-Петербург), но и гости,  выбирающие гастротуризм в качестве отдыха. 
        </p>

        <p class="post_text">
          Гастрономический бренд «черноморской кухни» – это новый кулинарный бренд, в основе которого лежат местные 
          специалитеты при использовании многочисленных методик приготовления блюд таких же многочисленных  народов  
          и кухонь, находящихся на побережье Черного моря. В этом и есть основное отличие черноморской кухни от 
          многих общепринятых и четко выраженных гастрономических  брендов. Основной задачей Гильдии шеф-поваров  
          Черноморского побережья, которую ставит и успешно реализовывает Президент Гильдии, идеолог и Шеф-повар 
          Евгений Вийтык, является развитие и популяризация локальной черноморской кухни. И гастротур 
          «Черноморская соль» – один из таких инструментов в череде гастрономических фестивалей и кулинарных конкурсов, 
          которые организовывает Гильдия  совместно с рестораторами региона. 
        </p>

        <div class="post_bottom_wrapper">

          <p class="post_date">10 откября 2019</p>

          <div class="post_social">
            <span class="post_social_text">Поделиться</span>

            {% for i in 1..5 %}
              <a href="#" class="post_social_icon">
                <img src="/dist/images/postSocial-{{i}}.svg">
              </a>
            {% endfor %}
          </div>

        </div>

      </div>

    </div>

    <div class="carousel_post_wrapper">
      {{ this.render('//components/generic/similar_posts.twig', {'items':items}) | raw }}            
    </div>

  </div>

</div>
