<div data-page-type="error">
	<div class="error_wrapper">
        <div class="error_img">
            <img src="/dist/images/404.svg">
        </div>

        <div class="error_text_wrapper">
            <h1 class="error_title">Страница не найдена</h1>
            <p class="error_text">Возможно, она была удалена, или Вы ошиблись в написании адреса.</p>  
            <p class="error_text">Попробуйте начать с <span><a href="/katalog-ploshchadok/" class="error_link">каталога</a></span> или 
            <span><a href="/" class="error_link">главной страницы</a></span>.</p>  
        </div>
    </div>
</div>