.contacts {
    .breadcrumbs {
        margin-top: 52px;

        @include for-notdesc {
            margin-top: 17px;
        }

        @include for-mobile {
            margin-top: 15px;
        }
    }

    .contacts_title {
        font-family: 'Museo Sans Cyrl';
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.01em;
        color: $clrBlack;
        margin: 49px 0 30px;

        @include for-notdesc {
            font-size: 30px;
            margin: 31px 0 20px;
        }

        @include for-pad {
            font-size: 24px;
            margin: 31px 0 26px;
        }
    }
    
    .contacts_wrapper {
        width: 1195px;
        margin: 0 auto;

        @include for-notdesc {
            max-width: 930px;
        }

        @include for-pad {
            max-width: 690px;
        }

        @include for-mobile {
            max-width: 100%;
        }

        .contacts_block_wrapper {
            margin: 0 0 39px;

            @include for-notdesc {
                margin: 0 0 29px;
            }

            @include for-pad {
                margin: 0 0 27px;
            }

            @include for-mobile {
                margin: 0 0 31px;
            }

            .contacts_block_title {
                font-family: 'Museo Sans Cyrl';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: $clrBlack;
                margin: 0 0 15px;

                @include for-notdesc {
                    font-size: 20px;
                    margin: 0 0 11px;
                }

                @include for-pad {
                    font-size: 18px;
                    margin: 0 0 13px;
                }
            }

            .contacts_block_text {
                font-family: 'Museo Sans Cyrl';
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 130%;
                color: #333333;
                margin: 0;

                @include for-notdesc {
                    max-width: 98%;
                }

                @include for-mobile {
                    max-width: 100%;
                }
            }
        }

        .contacts_contact_wrapper {
            margin: 51px 0 60px;

            @include for-notdesc {
                margin: -6px 0 43px;
            }

            @include for-pad {
                margin: -19px 0 30px;
            }

            @include for-mobile {
                margin: -4px 0 39px;
            }

            .contacts_phone, .contacts_mail {
                font-family: 'Museo Sans Cyrl';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 180%;
                color: $clrBlack;
                margin: 0;
                display: block;
                text-decoration: none;

                @include for-notdesc {
                    font-size: 20px;
                }

                @include for-pad {
                    font-size: 18px;
                }
            }

            .contacts_phone {
                &::before {
                    content: '';
                    display: inline-block;
                    background-image: url('/dist/images/phone_contacts.svg');
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    transform: translateY(3px);

                    @include for-pad {
                        margin-right: 12px;
                    }
                }
            }

            .contacts_mail {
                &::before {
                    content: '';
                    display: inline-block;
                    background-image: url('/dist/images/mail_contacts.svg');
                    width: 20px;
                    height: 16px;
                    margin-right: 10px;

                    @include for-notdesc {
                        transform: translateY(4px);
                    }

                    @include for-pad {
                        margin-right: 12px;
                    }
                }
            }
        }
        
        .contacts_personal_wrapper {
            @include for-notdesc {
                max-width: 926px;
            }

            .contacts_personal_title {
                font-family: 'Museo Sans Cyrl';
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 100%;
                text-align: center;
                letter-spacing: 0.01em;
                color: $clrBlack;
                margin: 0;

                @include for-notdesc {
                    font-size: 24px;
                }

                @include for-pad {
                    font-size: 20px;
                }
            }

            .personal_members_wrapper {
                display: flex;
                justify-content: space-between;
                margin-top: 19px;

                @include for-notdesc {
                    margin-top: 22px;
                }

                @include for-pad {
                    margin-top: 21px;
                }

                @include for-mobile {
                    display: flex;
                    flex-wrap: wrap;
                }

                .personal_member {
                    width: calc(25% - 22.5px);

                    @include for-notdesc {
                        width: calc(25% - 17.5px);
                    }

                    @include for-pad {
                        width: calc(25% - 23px);
                    }

                    @include for-mobile {
                        width: calc(50% - 15px);
                    }
    
                    .personal_member_img {
                        width: 100%;
                        height: 276px;
                        background: url('/dist/images/personal_member_img.jpg') no-repeat center center / 100%;

                        @include for-notdesc {
                            height: 214px;
                        }

                        @include for-pad {
                            height: 150px;
                        }
                    }
    
                    .personal_member_name {
                        font-family: 'Museo Sans Cyrl';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 100%;
                        letter-spacing: 0.01em;
                        color: #000000;
                        text-align: center;
                        margin: 28px 0 5px;

                        @include for-notdesc {
                            margin: 22px 0 5px;
                        }

                        @include for-pad {
                            margin: 15px 0 5px;
                            font-size: 16px;
                        }
                    }
    
                    .personal_member_position {
                        font-family: 'Museo Sans Cyrl';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 100%;
                        letter-spacing: 0.01em;
                        color: #000000;
                        text-align: center;
                        margin: 0;
                    }
    
                    .personal_member_about {
                        font-family: 'Museo Sans Cyrl';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: $clrCardInfo;
                        margin: 4px 0 5px;

                        @include for-notdesc {
                            margin: 15px 0 5px;
                        }

                        @include for-pad {
                            font-size: 14px;
                            line-height: 17px;
                            margin: 13px 0 11px;
                        }

                        @include for-mobile {
                            margin: 13px 0 12px;
                        }
                    }
    
                    .personal_member_mail {
                        font-family: 'Museo Sans Cyrl';
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 19px;
                        color: $clrPersonalMail;
                        display: block;
                        text-decoration: none;
                        border-bottom: 1px solid $clrPersonalMail;
                        width: max-content;
                        margin: 0 auto;

                        @include for-pad {
                            font-size: 12px;
                            line-height: 12px;
                        }

                        @media (max-width: 359px) {
                            font-size: 11px;
                        }
                    }
                }

                .personal_member:nth-child(n+3) {
                    @include for-mobile {
                        margin-top: 30px;
                    }
                }

                .personal_member:not(:first-of-type) {
                    .personal_member_about {
                        @include for-notdesc {
                            margin-left: 7px;
                        }

                        @include for-mobile {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

        .contacts_form_wrapper {
            max-width: 1073px;
            margin: 52px auto 63px;
            box-sizing: border-box;

            @include for-notdesc {
                margin: 50px auto 52px;
                padding: 49px 65px;
            }

            @include for-pad {
                margin: 41px auto 38px;
                padding: 30px 55px;
            }

            @include for-mobile {
                margin: 39px auto;
                padding: 30px 24px 35px;
            }

            .form_title {
                .form_title_main {
                    @include for-notdesc {
                        font-size: 24px;
                        transform: translateX(2px);
                    }

                    @include for-pad {
                        font-size: 20px;
                    }

                    @include for-mobile {
                        transform: none;
                    }
                }
                
                .form_title_desc {
                    margin-top: 8px;

                    @include for-notdesc {
                        position: relative;
                        margin: -9px auto 0;
                        transform: translateX(2px);
                        left: auto;
                    }

                    @include for-mobile {
                        margin: 13px auto 0;
                        transform: none;
                    }
                }
            }

            .form_block {
                margin-top: 20px;

                @include for-notdesc {
                    margin-top: 37px;
                }

                @include for-pad {
                    margin-top: 36px;
                }

                @include for-mobile {
                    margin-top: 21px;
                }

                .form_inputs {
                    width: 580px;
                    max-width: 100%;
                    margin: 0 auto;

                    @include for-mobile {
                        display: flex;
                        flex-wrap: wrap;
                    }

                    .input_wrapper {
                        width: calc(50% - 10px);
                        margin-bottom: 11px;

                        @include for-mobile {
                            width: 100%;
                            margin-bottom: 15px;
                        }
                    }
                }

                .form_submit_callback {
                    .form_policy {
                        .checkbox_pseudo {
                            @include for-mobile {
                                transform: translate(3px, -2px);
                            }

                            &::before {
                                background-position: 60% 50%;
                            }
                        }
                    }

                    ._button {
                        margin-top: 17px;
                        height: 40px;

                        @include for-mobile {
                            margin-top: 13px;
                            transform: translateX(2px);
                        }
                    }
                }
            }
        }
    }
}